{%extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<style>
    body {
      background-color: linen;
    }
    
    h1 {
      color: purple;
      text-align: center; 
      font-family: Verdana; 
      margin-top: 50px
    }

    form{
        margin-top: 90px; 
    }

    .button {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

</style>
<h1>Radicle Science Sleep Data Project</h1>


{% endblock %}
